@using WebApplication1.Models;
@model IEnumerable<Department>
@{
    ViewBag.Title = "Departments List";
}

<!DOCTYPE html>

<h2>Departments List</h2>

<ul>
    @foreach (Department department in @Model)
    {
        <li>
            @Html.ActionLink(department.Name, "Index", "Employee", new { departmentId = department.ID }, null)
        </li>
    }
</ul>


